.game-grid {
	-fx-background-color: white;
	-fx-padding: 10;
}

.game-grid-cell {
	-fx-background-insets: 0, 0 1 1 0;
}

.game-grid-cell.black {
	-fx-background-color: black, #994E15;
}

.game-grid-cell.white {
	-fx-background-color: black, #CDA37B;
}

.game-grid-cell.first-row {
	-fx-background-insets: 0, 1 1 1 0;
}

.game-grid-cell.first-column {
	-fx-background-insets: 0, 0 1 1 1;
}

.game-grid-cell.first-row.first-column {
	-fx-background-insets: 0, 1;
}

.game-grid-cell.highlighted {
	-fx-border-color: red;
}

.backgroundbox {
	-fx-background-image: url("/background.png");
	-fx-background-repeat: none;
	-fx-background-position: center center;
}

.wintext {
	-fx-font: 100px Tahoma;
	-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
	-fx-stroke: black;
	-fx-stroke-width: 1;
}
